{% extends 'base.html' %}

{% load staticfiles %}

{% block header-include %}

{%  endblock %}

{% block content %}
    <div class="row"></div>
    <div class="container">
        <div class="col s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                         src="{% static "images/Schluchtlandschaft (farb).png" %}">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">HeroManager - An app for your roleplaying group<i
                        class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i
                        class="material-icons right">close</i></span>
                    <p>Here is some more information about this product
                        that is only revealed once clicked on.</p>
                    <p>Here is some more information about this product
                        that is only revealed once clicked on.</p>
                    <p>Here is some more information about this product
                        that is only revealed once clicked on.</p>
                    <p>Here is some more information about this product
                        that is only revealed once clicked on.</p>
                    <p>Here is some more information about this product
                        that is only revealed once clicked on.</p>
                    <p>Here is some more information about this product
                        that is only revealed once clicked on.</p>
                    <p>Here is some more information about this product
                        that is only revealed once clicked on.</p>
                    <p>Here is some more information about this product
                        that is only revealed once clicked on.</p>
                    <p>Here is some more information about this product
                        that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}