{% load staticfiles %}

<!doctype html>

<html lang="en">
<head>
    <title>HeroManager</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript"
            src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet"
          href="{% static "herobase.css" %}">
    <style type="text/css">
        .side-nav {
            margin-top: 65px;
            width: 300px;
            height:100%;
        }
        {% block style-inlcudes %}
        {% endblock %}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block header-includes %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">HeroManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

          {% if user.is_authenticated %}

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your groups
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% block groups %}
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            {% endblock %}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          GM Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% block gm_groups %}
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
          {% endblock %}
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>

    </ul>

      {%  else %}

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

        <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>

    </ul>
      {%  endif %}
  </div>

</nav>

<div class="container-fluid">

    {% block sidebar %}
{% endblock %}

    {% block content %}
    {% endblock %}
</div>

<!--
<footer style="position:fixed;left:0px;bottom:0px;width:100%"
        class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Claas Völcker
            <a class="grey-text text-lighten-4 right" href="#!">More
                Links</a>
        </div>
    </div>
</footer>
-->

</body>

</html>
