{% extends 'groups_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="column s6 m12">
                <script>
                    $(document).ready(function () {
                        $('select').material_select();
                    });

                </script>
                <form method="POST" action="{% url "hero:new_group" %}">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <input class="waves-effect waves-light btn" type="submit"
                           value="Create new group"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
