{% extends "base.html" %}

{% block style-inlcudes %}
    .wrapper {
    padding-left: 300px;
    }
{% endblock %}

{% block sidebar %}
    <script>
        $(document).ready(function () {
            // Open
            $('.collapsible').collapsible('close', 0);
            // Close
        });
    </script>

  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

 <div id="sidebar-wrapper">
    <ul id="slide-out" class="sidebar-nav">
        <ul class="collapsible" data-collapsible="expandable">
            <li>

                <ul>
                    <li><a href="{% url "hero:groups" %}">Groups Overview</a>
                    </li>

                </ul>
                <div class="divider"></div>
                {% block sidenav-content %}
                {% endblock %}
        </ul>
    </ul>
  </div>

{% endblock %}
