{% extends "base.html" %}

{% block content %}
    It works
{% endblock %}

{% block side_bar %}
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">First</div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url "register" %}">Test</a></li>
                        <li><a href="{% url "register" %}">Test</a></li>
                        <li><a href="{% url "register" %}">Test</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <div class="collapsible-header">Second</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="divider"></div>
            </li>
        </ul>

{% endblock %}
