{% extends "diary_base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4>Adding a new diary entry for "{{ adventure }}"</h4>
        </div>
        <div class="row">
            <div class="column s6 m12">
                <script>
                    $(document).ready(function () {
                        $('select').material_select();
                    });

                </script>
                <div class="row">
                    <form method="POST" class="col s12"
                          action="{% url "adventure:add_diary_entry" hero=hero.name adventure=adventure.name %}">
                        {% csrf_token %}

                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Entry title"
                                       id="name" type="text"
                                       class="validate" required>
                                <label for="name" data-error="This field is required">Entry
                                    title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="date" type="number"
                                       class="validate" required>
                                <label for="date" data-error="This field is required">Game
                                    date</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="entry" required
                                          class="materialize-textarea">Add your adventures here...</textarea>
                                <label for="entry" class="active"
                                       data-error="This field is required">Entry</label>
                            </div>

                        </div>
                        <input class="waves-effect waves-light btn"
                               type="submit"
                               value="Add new diary entry"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
