{% extends "diary_base.html" %}

{% load hero_tags %}

{% block sidenav-content %}
    <ul class="collapsible" data-collapsible="accordion">
        {% for adventure in group.adventure_set.all %}

            <li>
                <div class="collapsible-header">{{ adventure.name }}</div>
                <div class="collapsible-body">
                    <ul class="collapsible" data-collapsible="accordion">
                        {% for hero in group.hero_set.all %}
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">person_outline</i>{{ hero }}
                                </div>
                                <div class="collapsible-body">
                                    <ul>
                                        {% if adventure.ongoing %}
                                            <li>
                                                <a href="{% url "adventure:add_diary_entry" hero=hero.name adventure=adventure.name %}">
                                                    <i class="material-icons">add</i>
                                                    Add a new entry
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for entry in hero.diaryentry_set.all %}
                                            <li><a href="">{{ entry }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <h4>All diaries of {{ hero }}</h4>
    </div>
    <div class="row">
        <div class="col s12">
            {{ object_list }}
            {% for diary in object_list %}
                <p>{{ diary }}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}