{% extends "base.html" %}

{% block style-inlcudes %}
    .wrapper {
    padding-left: 250px;
    }
{% endblock %}

{% block sidebar %}
    <script>
        $(document).ready(function () {
            // Open
            $('.collapsible').collapsible('close', 0);
            // Close
        });
    </script>

    <ul id="slide-out" class="side-nav fixed">
        <ul class="collapsible" data-collapsible="expandable">
                {% block sidenav-content %}
                {% endblock %}
        </ul>
    </ul>

{% endblock %}
